@mixin flexCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    @include flexCenter();
    background: tomato;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover {
            background: $primaryBtnHover;
        }
        &::after {
            content: ' World';
        }
        &::before {
            content: 'Gebb, ';
        }
    }
}